spring:
  application:
    name: Job-Application-Management-System
datasource:
  url: jdbc:postgresql://localhost:5432/jobboard
  username: postgres
  password: 12345
  driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080

app:
  jwt:
    secret: your-super-secret-jwt-key-with-at-least-256-bits
    expiration: 86400000 # 24 hours
  upload:
    path: uploads/resumes/
